/* common css style is in this file, 
mainly nav bar related styles */

body {
    background-image: url("../../img/background.jpeg");
    background-size: cover;
    background-repeat: repeat;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

ul.topnav {
    width: 100%;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(60, 80, 83, 0.8);

    position: sticky;
    top:0px;
    z-index: 1; 
}

ul.topnav li {
    float: left;
    text-align: center;
    overflow: hidden;
}

ul.topnav li a {
    display: block;
    color: rgb(202, 219, 73);
    padding: 15px 15px;
    text-decoration: none;
}

ul.topnav li a:hover {
    transition: 0.2s;
    background-color: rgba(40, 44, 41, 0.9);
}

ul.topnav li a.active {
    background-color: rgb(21, 68, 48, 0.9);
}

ul.topnav li.right {
    float: right;
    padding: 15px 15px;
    color: rgb(13, 144, 20);
}

@media screen and (max-width: 600px) {

    /* change font size and floating for different screen size*/
    ul.topnav li.right,
    ul.topnav li {
        font-size: 1.3rem;
        float: none;
    }
}
