.content {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.container {
    width: 80%;
    align-content: center;
    justify-self: center;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
}

.container>.draws {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.draws {
    width: 250px;
    border-radius: 15%;
    border: 3px solid rgb(74, 72, 72);
}

.movies {
    width: 250px;
    height: 200px;
    border-radius: 15%;
    border: 3px solid rgb(74, 72, 72);
}

.scroll {
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
}


@media screen and (max-width: 600px) {

    .container {
        display: grid;
        /* grid-auto-flow: row; */
        grid-template-columns: 300px;
    }

    .scroll {
        height: 200px;
        display: grid;
        text-align: center;
        overflow-y: scroll;
    }

    h5 {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}
